@model EmployeeDetailsDto
@{
    ViewData["Title"] = "Employee Details";
}

<div class="row justify-content-center align-items-center">
    <h2 class="text-center m-4">Employee Details</h2>

    <div class="row justify-content-center align-items-center">
        <ul class="col-6 nav nav-tabs" id="employeeTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" aria-controls="general" role="tab" aria-selected="true">General</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="Administration-tab" data-bs-toggle="tab" href="#administration" aria-controls="administration" role="tab" aria-selected="false">Administration</a>
            </li>
        </ul>
    </div>

    <div class="row justify-content-center align-items-center tab-content" id="myTabContent">
        @* General Tab Content *@
        <div class="col-6 tab-pane fade show active p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div class="form-group mb-2">
                <label class="form-label" asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>

            <div class="form-group mb-2">
                <label class="form-label" asp-for="Email"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>

            <div class="form-group mb-2">
                <label class="form-label" asp-for="Address"></label>
                <input asp-for="Address" class="form-control" readonly />
            </div>

            <div class="form-group mb-2">
                <label class="form-label" asp-for="Age"></label>
                <input asp-for="Age" class="form-control" readonly />
            </div>

            <div class="form-group mb-2">
                <label class="form-label" asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control" readonly />
            </div>

            <div class="form-group mb-2">
                <label class="form-label" asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />
            </div>

            <div class="form-group mb-2">
                <label class="form-label" asp-for="HiringDate"></label>
                <input asp-for="HiringDate" class="form-control" readonly />
            </div>

            <div class="form-group col-6">
                <label asp-for="Gender"></label> <br />
                @foreach (Gender genderOption in Enum.GetValues(typeof(Gender)))
                {
                    <label class="">
                        <input disabled type="radio" asp-for="Gender" value="@genderOption" />
                        @genderOption
                    </label>
                }
            </div>

            <div class="form-check mb-2 col-6">
                <label class="form-check-label" asp-for="IsActive"></label>
                <input disabled asp-for="IsActive" class="form-check-input" />
            </div>

            <div class="form-group col-6">
                <label asp-for="EmployeeType" class=""></label>
                <select disabled asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()" class="form-control">
                    <option value="">Select Employee Type</option>
                </select>
            </div>
        </div>

        @* Administration Tab Content *@
        <div class="col-6 tab-pane fade p-4 border" id="administration" role="tabpanel" aria-labelledby="administration-tab">

            <div class="form-group">
                <label class="col-form-label" asp-for="CreatedBy"></label>
                <input asp-for="CreatedBy" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="CreatedOn"></label>
                <input asp-for="CreatedOn" class="form-control" readonly />
            </div><div class="form-group">
                <label class="col-form-label" asp-for="LastModifiedBy"></label>
                <input asp-for="LastModifiedBy" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="LastModifiedOn"></label>
                <input asp-for="LastModifiedOn" class="form-control" readonly />
            </div>
        </div>

        <div class="text-center">
            @if (ViewBag.Title == "Employee Details")
            {
                <div class="mt-4">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
                </div>
            }
            else
            {
                <form asp-action="Delete" asp-route-id="@Model.Id" class="mt-4">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
                </form>
            }
        </div>
    </div>

</div>